@import url('https://fonts.googleapis.com/css2?family=Anton&family=Blaka&family=Lobster&family=Poppins:wght@200&family=Roboto:wght@300;700&family=Signika+Negative&display=swap');

body {
  font-family: 'Signika Negative', sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}